
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.title {
    text-align: center;
    margin: 40px 20px;
}

.checkbox-container {
  margin: 20px 40px;
  font-size: 12pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {
    text-align: center;
}

.btn {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    font-size: large;
    position: fixed;
    bottom: 6%;
    left: 10%;
}

.btn-primary {
    background-color: #4ab4ec;
    border-color: #419ed0;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0;
}

.result-container {
  margin: 35px;
  background-color: lightgreen;
}
