
.title {
    text-align: center;
    margin: 40px 20px;
}

.checkbox-container {
  margin: 20px 60px;
  font-size: 15pt;
}

.btn-container {
    text-align: center;
}

.btn {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    font-size: large;
    position: fixed;
    bottom: 6%;
    left: 10%;
}

.result-container {
  margin: 35px;
  background-color: lightgreen;
}
