
html, body {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
}

.header-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.title {
    text-align: center;
    margin: 40px 20px;
}

.body-container {
    max-height: calc(100% - 213px);
}

#document-list {
  overflow-y: auto;
  max-height: calc(100% - 213px);
}

.checkbox-container {
  margin: 20px 40px;
  font-size: 12pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    font-size: large;
    margin: 25px 0px;
}

.btn-primary {
    background-color: #4ab4ec;
    border-color: #419ed0;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.2;
  background-color:black;
}

.result-container {
  margin: 35px;
  background-color: lightgreen;
}
