
.title {
    text-align: center;
}

a.doc {
    display: block;
    margin: 20px;
    font-size: 15pt;
}

.uploader {
    margin: 20px;
    text-align: center;
}

.uploader input {
    width: 75%;
}
